.NavigationItems {
  
    padding: 0;
    list-style:none;
    display: flex;
    flex-flow: column;
    height:100%;

}
.nav-icon{
   
    width:14px;
    height:14px;
}

.Login { background-color: red;

}
@media (min-width:500px){
    .NavigationItems {
        flex-flow: row;
    }
}