.item-Histories{   

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 90%;
  margin: auto;
   
  }
  .history-panel {    
    width:100%;
    padding:0 ;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
    display: inline-block;
    border: 1px solid #eee;
    background-color: rgba(53, 31, 2, 0.212);
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
   
    }


  .text-history-berger {    
      width:20%;
      padding:0 20px;
      background-color: rgba(90, 37, 37, 0.993);
      border: 1px solid #eee;
      box-shadow: 0 2px 3px #ccc;
      text-align: center;
      border: 1px solid #eee;
      display: inline-block;
      box-shadow: 0 2px 3px #ccc;
      color:white;
      margin: 10px;
      box-sizing: border-box;
      cursor: pointer;
     
    }

      .img{
        width:20%;
        height:20%;
        border-radius:100%
      }
    .text-panel-history{    
      width:40%;
      padding:0 ;
      border: 1px solid #eee;
      box-shadow: 0 2px 3px #ccc;
      text-align: center;
      display: inline-block;
      border: 1px solid #eee;
      box-shadow: 0 2px 3px #ccc;
      margin: 10px;
      box-sizing: border-box;
      cursor: pointer;
      }

      .text-pillars{    
        width:20%;
        margin:10px;
        border: 1px solid #eee;
        box-shadow: 0 2px 3px #ccc;
        text-align: center;
        display: inline-block;
        border: 1px solid #eee;
        box-shadow: 0 2px 3px #ccc;
        box-sizing: border-box;
        cursor: pointer;
        }
        @media(max-width:500px){
          .text-pillars{
          width: 96%;
          }
          .text-panel-staff{
            width: 97%;
          }
          .text-history-berger {    
            width:100%;
          }
         
        }