  
    .intro {
        color: white;
        background-color: rgba(0, 0, 0, 0.109);
        width: 50%;
        display:inline-block;
        height:auto;
      
    }
     .slide-img {
        color: white;
        background-color: rgba(5, 12, 0, 0.671);
        width: 100%;
        display:inline-block;
        height:auto;
    }
    .vid-versal-today {
        margin-top: 5px;
        color: white;
        background-color: rgba(14, 3, 3, 0.267);
        width: 50%;
        display:inline-block;
        height:auto;
     
    }
    @media (max-width:500px){
         .intro,
           .vid-versal-today,
         .pic-versal-today{
               display:block;
                 width: 100%;

    }}